#kstmp-contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--stripe3);
  font-size: 1.2em;
}

.contact-container .social-networks {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: calc(.5em + 5vw);
}

.pro-links {
  text-align: center;
}

/* .contact-container .contact-form {
  display: flex;
  flex-direction: column;
  gap: .5em;
  color: var(--dark);
}

.contact-container .contact-form input::placeholder,
.contact-container .contact-form textarea::placeholder {
  font-style: italic;
}

.contact-container .contact-form input[type=submit] {
  border: 0 none;
  cursor: pointer;
} */

.kstmp-media-icon {
  height: calc(2em + 2vw);
  fill: var(--white);
  transition: transform .4s ease-out;
}
.kstmp-media-icon:hover {
  transform: rotate(360deg);
}
